<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<servlet>
    <servlet-name>ElgoogHome</servlet-name>
    <servlet-class>servlet.ElgoogHome</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ElgoogHome</servlet-name>
    <url-pattern>/testAppl</url-pattern>
</servlet-mapping>
</web-app>
